@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(135deg, blue, white) fixed;
    margin: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}
hr {
    border: #000000 10px solid;
    width: 40%;
    margin-top: -20px;
    margin-bottom: 0px;
}
.browser {
    width: 100%;
    height: 100%;
    border-width: 10px;
    border-color: #ffffff;
}
.top-page {
    position: fixed;
    margin-top :0px;
    background-color: #cacaca;
    width: 100%;
    height: 70px;
    z-index: 10;
}
.tab {
    background-color: #ffffff;
    border-radius: 50;
    width: 200px;
    height: 35px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-left: 10px;
    text-align: left;
    padding-left: 30px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0px;
}
.urltab {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 0px;
}
.url {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    background-color: #eeeeee;
    margin: auto;
    margin-top: 5px;
    height: 28px;
    width: 88%;
    text-align: left;
    padding-left: 30px;
    border-radius: 15px;
    padding: auto;
    border: none;
    font-size: 20px;
}
.page {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding-top: 100px;
    text-align: left;
}
#main {
    width: 100%;
    height: 100%;
}
#front {
    pointer-events: none;
    position: absolute;
    z-index: 4;
    margin-left: 50px;
    padding-bottom: 1px;
    top: 160px;
}
.under-bar {
    position: absolute;
    border-width: 2px;
    width: 120px;
    border-color: #ffffff;
    left: 50px;
    top: 98%;
    animation: underbar 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.title {
    color: #ffffff00;
    opacity: 0%;
    margin: 50px;
    margin-left: -500px;
    margin-bottom: 0px;
    font-size: 100px;
    font-weight: 100px;
    line-height: 100px;
    animation: inTitle 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    text-shadow: 0px 0px 10px #00000000;
}
.text {
    margin: 50px;
    margin-left: -500px;
    margin-top: 10px;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    animation: inText 1s 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.circle {
    pointer-events : none;
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: 3;
    right: 70px;
    top: 170px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    animation: circleMove 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.meal, .chat {
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    right: 100px;
    width: 700px;
    height: 700px;
    top: 150px;
    -webkit-mask-image:-webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(45dec, black, #000000);
}
.meal {
    z-index: 1;
    opacity: 1;
    animation: fadeinout 10s 0s infinite paused;
    transition: all 500ms;
}
.chat {
    z-index: 0;
    opacity: 0;
    animation: fadeinout 10s 5s infinite paused;
    transition: all 500ms;
}
.meal:hover {
    border-radius: 10%;
}
.chat:hover {
    border-radius: 10%;
}
.works {
    z-index: 4;
    height: 100px;
    width: 400px;
    border-radius: 50px;
    position: absolute;
    background-color: #000000;
    left: 90px;
    top: 700px;
    animation: worksSpread 1s paused, blink 1s 1s infinite alternate ease-in-out paused;
    box-shadow: 0 0 20px 10px #0000002c;
}
.work {
    opacity: 1;
    transition: all 200ms;
    transition-timing-function: ease;
}
.work.github {
    height: 80px;
    position: absolute;
    left: 80px;
    top: 8px;
    animation: workUp 1s 0s;
    animation-fill-mode: none; 
    animation-play-state: paused;
    border-radius: 50%;
    cursor: pointer;
}
.work.github:hover {
    top: -13px;
    height: 90px;
    left: 75px;
    box-shadow: 0px 0px 30px 10px #ffffff5d;
}
.work-bar {
    z-index: 3;
    top: 10px;
    left: 205px;
    border-radius: 50px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    height: 80px;
    width: 100px;
    transition: all 500ms;
}
.work-bar:hover {
    background: rgba(255, 255, 255);
    opacity: 1;
    box-shadow: 0 0 20px 10px #0000002c;
    width: 600px;
}
.work.w {
    height: 90px;
    left: 230px;
    top: 8px;
    position: absolute;
    animation: workUp 1600ms 0s;
    animation-fill-mode: none; 
    animation-play-state: paused;
}
.w-black {
    height: 90px;
    left: 25px;
    top: -2px;
    position: absolute;
}
.work-box {
    position: absolute;
    left: 130px;
    top: 5px;
    width: 0px;
    height: 0px;
    transition: all 400ms;
    border-left-style: solid;
    border-left-color: #000000;
    border-left-width: 10px;
}
.work-bar:hover .work-box {
    width: 440px;
    height: 70px;
}
.wrk {
    position: absolute;
    height: 90px;
    top: -10px;
    cursor: pointer;
    pointer-events : none;
}
.wrk:hover {
    top: -30px;
}
.wrk.tray {
    left: -60px;
    transition: left 600ms, top 200ms;
}
.wrk.haksa {
    left: -60px;
    transition: left 700ms, top 200ms;
}
.wrk.onchat {
    left: -60px;
    transition: left 800ms, top 200ms;
}
.work-bar:hover .wrk.tray {
    left: 50px;
    pointer-events: all;
}
.work-bar:hover .wrk.haksa {
    left: 185px;
    pointer-events: all;
}
.work-bar:hover .wrk.onchat {
    left: 317px;
    pointer-events: all;
}
#meal, #haksa, #chat {
    width: 100%;
    height: 100%;
    margin: 0px;
}
#meal {
    background: #f32e4f;
}
#haksa {
    background: #008091;
}
.img {
    width: 600px;
    object-fit: cover;
    position: absolute;
    right: 0px;
    border-radius: 100px 0 0 100px;
    /*-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);*/
    transition: all 500ms;
    z-index: 2;
    box-shadow: 0px 0px 10px 10px #0000003d;
}
.img:hover {
    margin-top: -20px;
}
.img.mealimg {
    top: 123%;
    height: 800px;
    animation: comeRight 1s ease;
    animation-play-state: paused;
}
.img.haksaimg {
    top: 223%;
    height: 800px;
    animation: comeRight 1s ease;
    animation-play-state: paused;
}
.bibe {
    height: 600px;
    width: 160px;
    position: absolute;
    right: 600px;
    animation: comeRight 1s 0s ease;
    animation-play-state: paused;
}
.bibe.haksa {
    top: 234%;
}
.bibe div {
    background-color: #ffffff;
    width: 160px;
    height: 160px;
    margin-bottom: 40px;
    border-radius: 50px 0 0 50px;
    box-shadow: 0px 0px 10px 10px #0000002c;
}
@media screen and (max-height: 900px) {
    .img.mealimg, .img.haksaimg {
        height: 500px;
    }
    .img.mealimg {
        top: 127%;
    }
    .img.haksaimg {
        top: 227%;
    }
}
.intro {
    text-shadow: 0px 0px 10px #00000075;
    position: absolute;
    left: 40px;
    font-size: 67px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    z-index: 5;
    pointer-events: none;
}
.intro.mealt {
    top: 118%;
}
.intro.haksat {
    top: 217%;
}
.content {
    text-shadow: 0px 0px 5px #00000075;
    pointer-events: none;
    position: absolute;
    left: 40px;
    font-size: 40px;
    text-align: left;
    color: #ffffff;
    font-weight: 200;
    z-index: 5;
}
@media screen and (max-width: 1400px) {
    .content {
        font-size: 30px;
    }
}
.content strong {
    color: #ffffff;
}
.content a {
    text-decoration: none;
    transition: all 500ms ease;
}
.content a strong {
    pointer-events: auto;
    color: #fffb00;
}
.content a:visited strong {
    color: #fbff00;
}
.content a:hover strong {
    animation: rainbow 3s infinite;
}
.content.mealc {
    top: 147%;
    animation: comeLeft 1s;
    animation-play-state: paused;
    color: #ffd9ca;
}
.content.haksac {
    top: 242%;
    animation: comeLeft 1s;
    animation-play-state: paused;
    color: #89e7ff;
}
.icon {
    position: absolute;
    height: 500px;
    left: 300px;
    margin-top: 300px;
    opacity: 0.3;
    z-index: 1;
}

@keyframes inTitle {
    0% {
        text-shadow: 0px 0px 10px #00000000;
        margin-left: -500px;
        color: #ffffff00;
    }
    100% {
        text-shadow: 0px 0px 10px #00000075;
        margin-left: 50px;
        color: #ffffff;
    }
}

@keyframes inText {
    0% {
        text-shadow: 0px 0px 10px #00000000;
        margin-left: -500px;
        color: #b1b1b100;
    }
    100% {
        text-shadow: 0px 0px 10px #00000075;
        margin-left: 50px;
        color: #b9b9b9;
    }
}

@keyframes circleMove {
    0% {
        border-color: #3a3a3a00;
        right: 70px;
        top: 150px;
    }
    100% {
        border-color: #3a3a3a;
        right: 20px;
        top: 190px;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
        z-index: 0;
    }
    10% {
        opacity: 1;
        z-index: 1;
    }
    50% {
        opacity: 1;
        z-index: 1;
    }
    60% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes worksSpread {
    0% {
        width: 0px;
        box-shadow: none;
    }
    100% {
        width: 400px;
    }
}

@keyframes workUp {
    0% {
        top: 50px;
        opacity: 0;
    }
    100% {
        top: 8px;
        opacity: 1;
    }
}

@keyframes underbar {
    0% {
        width: 0px;
    }
    100% {
        width: 120px;
    }
}

@keyframes blink {
    0% {
        background-color: #000000;
        box-shadow: 0 0 20px 10px #0000002c;
    }
    100% {
        background-color: #00ff00;
        box-shadow: 0 0 40px 20px #00ff0065;
    }
}

@keyframes comeRight {
    0% {
        right: -900px;
    }
}

@keyframes comeLeft {
    0% {
        left: -900px;
    }
}

@keyframes rainbow {
    0% {
        color: #ff2a2a;
    }
    15% {
        color: #ff7a2a;
    }
    30% {
        color: #ffc52a;
    }
    45% {
        color: #43ff2a;
    }
    60% {
        color: #2a89ff;
    }
    75% {
        color: #202082;
    }
    90% {
        color: #6b2aff;
    } 
    100% {
        color: #e82aff;
    }
}