@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --swiper-theme-color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'NanumSquareRound', sans-serif;
}
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    box-shadow: 0px 10px 20px #0000001e;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.moving-logo {
    width: 100px;
    height: 100px;
}
.page {
    width: 100%;
    height: calc(100% - 100px);
    box-shadow: 0px 0px 15px #000000a2;
    background-color: #fff;
    flex-shrink: 0;
}
.page.first {
    color: #fff;
    margin-top: 100px;
    background: #9e35f2;
    background: linear-gradient(45deg, #9e35f2 0%, #6400ff 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page.second {
    padding-top: 30px;
    flex-direction: column;
    height: auto;
    display: flex;
}
.page.third {
    box-sizing: border-box;
    padding-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-logo {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}
.main-content {
    font-size: 20px;
    word-break: keep-all;
}
.title {
    font-weight: 900;
}
.title.main {
    font-size: 100px;
}
.title.forPage {
    width: 100%;
    font-size: 60px;
    padding-left: 100px;
    box-sizing: border-box;
}
.card-news {
    width: 500px;
    height: 500px;
    overflow-x: hidden;
    z-index: 0;
    position: relative;
    margin: 50px 0 50px 0;
}
.cardnews-img {
    width: 100%;
    height: 100%;
}
.card-news-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.file-wrapper {
    width: 100%;
    max-width: 1100px;
    padding: 50px 100px 50px 100px;
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
    align-content: start;
}
.file {
    background-color: #fff;
    color: #000;
    border: solid #000 5px;
    box-sizing: border-box;
    height: 70px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;

    transition: all 0.2s 0s ease;
}
.file:hover {
    box-shadow: #000000a8 0 0 10px;
    font-size: 24px;
}

@media (max-width: 900px) {
    .page.first {
        flex-direction: column;
    }
    .main-content {
        text-align: center;
    }
    .title.main {
        font-size: 40px;
    }
    .title.forPage {
        font-size: 40px;
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }
    .card-news {
        width: 90%;
        max-width: 350px;
        height: calc(vw * 0.9);
        max-height: 350px;
    }
    .file-wrapper {
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }
    .file {
        border: solid #000 3px;
        font-size: 15px;
    }
}